/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/storage/debugbar
app/Http/Controllers/Api/
database/migrations/2018_04_19_160735_add_phone_to_users_table.php
laradock/.editorconfig
laradock/.github/
laradock/.gitignore
laradock/.gitlab-ci.yml
laradock/.travis.yml
laradock/DOCUMENTATION/
laradock/LICENSE
laradock/adminer/
laradock/aerospike/
laradock/apache2/
laradock/aws/
laradock/beanstalkd-console/
laradock/beanstalkd/
laradock/caddy/
laradock/certbot/
laradock/docker-compose.sync.yml
laradock/docker-compose.yml
laradock/docker-sync.yml
laradock/elasticsearch/
laradock/env
laradock/env-example
laradock/grafana/
laradock/haproxy/
laradock/hhvm/
laradock/jenkins/.github/
laradock/jenkins/.gitmodules
laradock/jenkins/CONTRIBUTING.md
laradock/jenkins/Dockerfile
laradock/jenkins/Jenkinsfile
laradock/jenkins/README.md
laradock/jenkins/docker-compose.yml
laradock/jenkins/init.groovy
laradock/jenkins/install-plugins.sh
laradock/jenkins/jenkins-support
laradock/jenkins/jenkins.sh
laradock/jenkins/plugins.sh
laradock/jenkins/publish.sh
laradock/jenkins/tests/
laradock/jenkins/update-official-library.sh
laradock/kibana/
laradock/laravel-echo-server/
laradock/maildev/
laradock/mailhog/
laradock/mariadb/
laradock/memcached/
laradock/minio/
laradock/mongo/
laradock/mssql/
laradock/mysql/
laradock/neo4j/
laradock/nginx/
laradock/percona/
laradock/pgadmin/
laradock/php-fpm/
laradock/php-worker/
laradock/phpmyadmin/
laradock/postgres-postgis/
laradock/postgres/
laradock/rabbitmq/
laradock/redis/
laradock/rethinkdb/
laradock/selenium/
laradock/solr/
laradock/sync.sh
laradock/travis-build.sh
laradock/varnish/
laradock/workspace/
.phpstorm.meta.php
_ide_helper.php
